footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

footer li a{
    font-family: 'Rubik', sans-serif;
    font-weight: 350;
    color: var(--text);
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}