@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #1f1f1f;
    --secondary: #2f2f2f;
    --third: #424242;
    --text: #C0C0C0;
    --hint: #898989;
    --accent: #e3483d;
    --corner-radius: 15px;
}

html {
    background-color: var(--primary);
}

* {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.corner {
    border-radius: var(--corner-radius);
}
