.more-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.more-button {
  --primary-color: var(--text);
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.more-button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--text)
}

.more-button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--accent);
  height: 2px;
  transition: 0.3s ease-out;
}

.more-button p::before {
  position: absolute;
  content: "Подробнее";
  width: 0%;
  inset: 0;
  color: var(--accent);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.more-button:hover::after {
  width: 100%;
}

.more-button:hover p::before {
  width: 100%;
}

.more-button:hover svg {
  transform: translateX(4px);
  color: var(--accent)
}

.more-button svg {
  color: var(--text);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}