{{ template "header.html" . }}

<div class="st-bg indent corner">
    <h1>Что такое Newsdeck?</h1>
    <div class="text-indent"></div>
    <p>Newsdeck - это бесплатный сервис, предоставляющий новости из различных СМИ, в том числе заблокированных. Newsdeck
        разработан
        обществом разработчиков Syntro (стилизованнно Συντρο) с целью улучшить быстроту получения необходимой
        информации.
    </p>
    <div class="text-indent"></div>
    <h2>Откуда вы получаете новости?</h2>
    <div class="text-indent"></div>
    <p>На данный момент, Newsdeck получает информацию с помощью <a href="https://newsapi.org/">NewsAPI</a> с сайтов BBC,
        CNN, Washington Post, Associated Press, ABC News, Reuters.
        Новости доступны только на английском языке, однако, мы постоянно расширяем список СМИ и работаем над
        локализацией их информации. Это может занять некоторое время.
    </p>
    <div class="text-indent"></div>
    <h2>Можно ли как-либо сортировать новости?</h2>
    <div class="text-indent"></div>
    <p>На данный момент сортировка новостей возможна только по содержанию определнного текста. В дальнейшем будут добавлены и 
        другие методы сортировки.
    </p>
    <div class="text-indent"></div>
    <h2>Как можно поддержать проект?</h2>
    <div class="text-indent"></div>
    <p>Newsdeck и Συντρο не призывают и не обязывают вас жертвовать нам средства, однако если вы действительно хотите
        вложиться в развитие проекта,
        вы можете узнать подробнее о том, как можно нас поддержать, <a href="/support">на этой странице</a>. Там подробно
        указаны способы оплаты и цели сборов.
    </p>
    <div class="text-indent"></div>
    <h2>Могут ли заблокировать Newsdeck?</h2>
    <div class="text-indent"></div>
    <p>Мы не можем дать точный ответ на этот вопрос, но не исключаем такой вариант событий. Если сервис будет
        заблокирован в России, то, вероятнее всего, он будет
        закрыт полностью, поскольку Συντρο считает, что основная аудитория сервиса будет из РФ.
    <div class="accent">Дополним, что Newsdeck не является средством массовой информации и не несет ответственности за
        тот контент, который предоставляет нам NewsAPI.</div>
    </p>
</div>

{{ template "footer.html" }}