{{ template "header.html" . }}
<div class="st-bg indent corner">
    <h1>Добро пожаловать на Newsdeck!</h1>
    <div class="text-indent"></div>
    <p>
        Данный сайт собирает новости из различных источников и предоставляет их вам в удобном для просмотра виде
        прямо в браузере, несмотря на региональные ограничения!
    </p>
    <div class="text-indent"></div>
    <p>
        Для того, чтобы пользоваться Newsdeck не требуется никакая регистрация. Просто перейдите на страницу <a
            href="/posts">публикации</a>
        и приступайте к просмотру.
    </p>
    <div class="text-indent"></div>
    <h2>Обратите внимание!</h2>
    <div class="text-indent"></div>
    <p>
        Перед началом пользования данным сервисом настоятельно рекомендуется ознакомиться с <a
            href="/agreement">Пользовательским соглашением</a>.
        Проигнорировав данный совет и начав пользоваться сайтом до ознакомления, вы автоматически соглашаетесь с ним.
    </p>
    <div class="text-indent"></div>
    <p>
        Данный сервис не составляет и не редактирует представленную на странице "Публикации" информацию. Она размещена в
        Интернете в открытом виде,
        и получить к ней доступ может кто угодно и вне Newsdeck. Мы не являемся СМИ, иностранным агентом, не получаем
        какое-либо финансирование от иностранных лиц/компаний за деятельность
        этого сервиса и не связаны с поставщиками новостей. Вся предоставленная информация на Newsdeck приводится
        исключительно в ознакомительных целях.
    </p>
    <div class="text-indent"></div>
    <p class="accent">Сайт может долго запускаться из-за бесплатного тарифа хостинга.</p>
</div>
{{ template "footer.html" }}