{{ template "header.html" . }}
<div class="st-bg indent corner">
    <h1>Поддержать Newsdeck</h1>
    <div class="text-indent"></div>
    <p>На данной странице указаны способы поддержки Newsdeck и цели сборов.</p>
    <div class="text-indent"></div>
    <h2>Цели сборов</h2>
    <div class="text-indent"></div>
    <h3>Домен</h3>
    <div class="small-indent"></div>
    <p>Сейчас сайт работает на основе бесплатного домена .tk. Чтобы получить доменное имя в зоне .ru, требуется его
        ежегодная оплата в размере
        199 рублей.
    </p>
    <div class="text-indent"></div>
    <h3>Buisness-уровень аккаунта на Newsapi</h3>
    <div class="small-indent"></div>
    <p>Сейчас Newsdeck использует бесплатный уровень аккаунта на Newsapi со следующими ограничениями:
    <ol>
        <li>
            <p>Задержка 24 часа для новостей</p>
        </li>
        <li>
            <p>Поиск новостей только за последний месяц</p>
        </li>
        <li>
            <p>Максимум 1.000 запросов в день</p>
        </li>
    </ol>
    <div class="small-indent"></div>
    <p>Для чего нужен Buisness-уровень подписки на Newsapi:
    <ol>
        <li>
            <p>Получение новостей в реальном времени</p>
        </li>
        <li>
            <p>Поиск новостей за последние 5 лет</p>
        </li>
        <li>
            <p>Максимум 250.000 запросов в месяц</p>
        </li>
    </ol>
    <div class="small-indent"></div>
    <p>Стоимость подписки: 359$ в год.</p>
    <div class="text-indent"></div>
    <h2>Варианты поддержки</h2>
    <div class="text-indent"></div>
    <a href="https://boosty.to/syntro" target="_blank"><button class="s-button">Boosty</button></a>
    </p>
</div>
{{ template "footer.html" .}}